<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Winku Social Network Toolkit</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">


	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-12">
								<div class="central-meta row">
									<div class="messages row ">
										<h5 class="f-title"><i class="ti-bell"></i>shit<span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
										<div class="message-box row col-12">
											
											<div class="peoples-mesg-box">
												<div class="conversation-head">
													<figure><img src="images/resources/friend-avatar.jpg" alt=""></figure>
													<span>VIKI <i>online</i></span>
												</div>
												<ul class="chatting-area">
													<li class="you">
														<figure><img src="images/resources/userlist-2.jpg" alt=""></figure>
														<p>VIKI inilaize conversation session</p>
													</li>
													<li class="me">
														<figure><img src="images/resources/userlist-1.jpg" alt=""></figure>
														<p>hi I need your help?</p>
													</li>
													<
												</ul>
												<div class="message-text-container container">
													<form method="post" class="row">
														<textarea class="col-lg-12 col-sm-12"></textarea>
														<div class="col-lg-8 col-sm-12">
															<button title="send" class="col-lg-2 col-sm-6"><span class="fa fa-paper-plane"></span></button>
															<button class="btn btn-primary"class="col-lg-2 col-sm-6" title="send image"><span class="fa fa-upload"></span></button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<footer>
		
	</footer><!-- footer -->
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div>
</div>
			
	
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>

</body>	

</html>